.footer {
    bottom: 0;
    padding-bottom: var(--size-m);
    position: fixed;
    align-content: center;
    width: 100%;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    transition: width 0.25s ease-out;
    pointer-events: auto;
}

.footer__grid {
    /* background-color: var(--clr-placeholder); */
    display: block;
    list-style: none;
    /* justify-content:center;
    align-content: center; */
    border-bottom: solid 0.08rem var(--clr-dark);
}

.footer__text{
    display: flex;
    align-content: center;
    justify-content: center;
    
    text-align: center;
    font-size: var(--size-l);
    text-decoration: none;
    font-weight: var(--font-light);
    color: var(--clr-dark);
    letter-spacing: -0.025em;

    transition: all 0.25 ease;
}
.footer__text.light{
    color: var(--clr-light);
}

.footer__text.link:hover{
    font-style: oblique;
}


.footer__text.hide{
    visibility:hidden;
}

@media (max-width: 800px) {
    .footer__text {
        font-size: var(--size-m);
    }
}